@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 993px) {
    body {
        background-image: linear-gradient(to bottom, rgb(193, 243, 193), white);
    }
    section#login {
        width: 90vw;
        height: 400px;
    }
    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background: #B0C7DD url(../imagens/bulba.jpeg);
        background-position: center center;
    }
    section#login > div#formulario {
        float:right;
        width: 60%;
    }
}

@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to bottom, lightblue, white);
    }
    section#login {
        width: 950px;
        height: 400px;
    }
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;        
        background: #B0C7DD url(../imagens/squirtle.jpeg);
        background-position: top center;

    }
    section#login > div#formulario {
        float: left;
        width: 50%;
    }
    div#formulario > h1 {
        font-size: 2em;
    }
    div#formulario > p {
        font-size: 1.2em;
        margin: 10px 0px;
    }
    div.sucesso {
        padding: 7px 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        background-color: rgb(226, 239, 218);
        color: rgb(74, 116, 67);
    }
    div.aviso {
        padding: 7px 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        background-color: rgb(251, 248, 229);
        color: rgb(134, 110, 66);
    }
    div.erro{
        padding: 7px 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        background-color: rgb(239, 223, 222);
        color: rgb(157, 75, 69);
    }
}